<div class="layout">

  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="aside-content">
      <img src="./assets/Dani1.png" alt="Profile picture" class="profile-pic" />
      <h1>Daniel Borisov</h1>
      <h2>Sofware Developer</h2>
      <div class="menu">
        <h3 class="menu-item"> About </h3>
        <h3 class="menu-item"> Skills </h3>
        <h3 class="menu-item"> Experience </h3>
        <h3 class="menu-item"> Education </h3>
      </div>
      <div class="social-links">
        <a href="#" target="_blank">LinkedIn</a>
        <a href="#" target="_blank">GitHub</a>
        <a href="#" target="_blank">Email</a>
      </div>
    </div>
  </aside>

 <!-- Divider -->
 <div class="divider"> </div>

  <!-- Main content -->
  <main class="content">
    <!-- About Section -->
    <section id="about" class="section" #animSection>
      <h2>About Me</h2>
      <p>
        Passionate cybersecurity specialist with experience in threat hunting, vulnerability scanning, and CTFs.
        Currently looking for red team or SOC Tier 2 opportunities where I can grow and contribute to security operations.
      </p>
    </section>

    <section id="skills" class="section" #animSection>
      <h2>Skills</h2>
      <h5> select a skill to filter experiances by it </h5>
      <div class="skills">
        <button
          *ngFor="let skill of skills"
          (click)="toggleSkill(skill)"
          [class.active]="activeSkills.includes(skill)">
          {{ skill }}
        </button>
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience" class="section" #animSection>
      <h2>Experience</h2>
      <div class="experience-cards">
        <div
          class="experience-card"
          *ngFor="let exp of experiences"
          [class.highlight]="highlightMatch(exp.skills)">
          <h3>{{ exp.title }}</h3>
          <p>Skills: {{ exp.skills.join(', ') }}</p>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="section" #animSection>
      <h2>Projects</h2>
      <div class="project-cards">
        <div *ngFor="let project of projects" class="project-card">
          <img [src]="project.image" alt="project image" />
          <h3>{{ project.title }}</h3>
        </div>
      </div>
    </section>

  </main>
</div>
